:root {
    --tagcloud-transition-user-duration: 1250ms;
    --tagcloud-transition-user-ease: ease-in-out;
    --tagcloud-transition-duration: 250ms;
    --tagcloud-transition-ease: ease-out;
    --tagcloud-bg-color-rgb: 0,0,0;
    --tagcloud-animation-duration: 25s;
    --tagcloud-animation-direction: normal;
    --tagcloud-animation-play-state: running;
    --tagcloud-diameter: 32rem;
    --tagcloud-start-rotation: 54;
    --tagcloud-controls-diameter: 256rem;
    --tagcloud-control-bg-color: transparent;
    --tagcloud-control-bg-hover-color: transparent;
    --tagcloud-control-bg-checked-color: transparent;
    --tag-diameter: 5.5rem;
    --tag-font-color-rgb: 255,255,255;
    --tag-font-family: 'Open Sans', sans-serif;
    --tag-font-size: 1rem;
}

@import url(//fonts.googleapis.com/css?famimly=Open+Sans);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

.tagcloud-wrapper {
    --_control-diameter: var(--tagcloud-controls-diameter);
    --_control-radius: calc(var(--_control-diameter) / 2);
    --_diameter: var(--tagcloud-diameter);
    --_radius: calc(calc(var(--_diameter)/2) - calc(var(--tag-diameter)/2));
    width: var(--control-diameter);
    aspect-ratio: 1/1;
    font-family: var(--tag-font-family);
    font-size: var(--tag-font-size);
}

@media only screen and (max-width: 48rem) {
    .tagcloud-wrapper {
        --_control-diameter: calc(var(--tagcloud-controls-diameter)*0.5);
        --_diameter: calc(var(--tagcloud-diameter)*0.88);
    }
}

