.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 140px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,  
    rgba(0, 0, 0, 1) 80%,  
    rgba(0, 0, 0, 0)
  );
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3) inset;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft, .itemRight {
  width: 160px;
  height: 90%; /* need help here! */
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  background-size: contain; /* Sets width to container's width and scales height accordingly */
  background-repeat: no-repeat;
  background-position: center; /* Aligns the image to start at the top */
}


.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
  background-image: url(../../assets/Certficiate/17176_5_6560766_1730276119_AWS-Skill\ Builder-Course-Completion-Certificate-1.png);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
  background-image: url(../../assets/Certficiate/CertificateOfCompletion_BuildingaWebsitewithNode.jsandExpress.js-1.png);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
  background-image: url(../../assets/Certficiate/DSTA\ Brainhack\ Code\ EXP\ Participation\ \(finalist\)-1.png);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
  background-image: url(../../assets/Certficiate/PCEP\ -\ Certified\ Entry-Level\ Python\ Programmer-1.png);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
  background-image: url(../../assets/Certficiate/Coursera\ Google\ UX\ Design-1.png);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
  background-image: url(../../assets/Certficiate/CertificateOfCompletion_Programming\ Foundations\ Software\ TestingQA-1.png);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}