/* General carousel styles */
.carousel-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--container-color);
  color: rgba(255, 255, 255, 0.87);
}

.swiper-container {
  padding: 2rem;
  border-radius: 8px;
}

.swiper-slide {
  display: flex;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-in-out;
}

/* General media styling */
.carousel-media {
  height: 230px; /* Set explicit height for uniformity */
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Specific styling for videos */
.video {
  height: 230px; /* Explicit height for video */
  width: 100%; /* Full width */
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
  display: block; /* Ensure it’s a block element */
}

.video-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 5px;
}

/* Hover effect for images (videos are not scaled on hover) */
.swiper-slide:hover img {
  transform: scale(1.05);
}

/* Pagination bullet styles */
.swiper-pagination-bullet {
  background-color: #646cff;
}

.swiper-pagination-bullet-active {
  background-color: #535bf2;
}

/* Navigation button styles */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-size: 1.2rem;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none; /* Remove outline for buttons */
  transition: background 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--first-color);
}

/* Prevent focus and selection on Swiper slides */
.swiper-slide {
  user-select: none; /* Disable text selection */
  -webkit-tap-highlight-color: transparent; /* Remove highlight on mobile devices */
}

/* Ensure images and videos don't inherit any overlay */
.swiper-slide img,
.swiper-slide video {
  filter: none; /* Remove any filter */
  outline: none; /* Remove any focus outline */
}
