#menu-btn {
  display: block;
  position: relative;
  margin: 70px auto;
  text-align: center;
  width: 60px;
  height: 65px;
}

#menu-btn:before,
#menu-btn:after {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #ff0000;
  display: block;
  position: absolute;
  border-radius: 20px;
}

#menu-btn:before {
  transform-origin: left center;
}

#menu-btn:after {
  right: 0;
  top: 25px;
  transform-origin: right center;
}

#menu-btn .text {
  color: #ff0000;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 17px;
  letter-spacing: 2.5px;
}

#menu-btn:hover {
  cursor: pointer;
}

.open:before {
  animation: topBar_open 1s ease-in-out forwards;
}

.open:after {
  animation: bottomBar_open 1s ease-in-out forwards;
}

.open .text {
  animation: menuLabel_open 1s ease-in forwards;
}

.close:before {
  animation: topBar_close 1s ease-in-out forwards;
}

.close:after {
  animation: bottomBar_close 1s ease-in-out forwards;
}

.close .text {
  animation: menuLabel_close 1s ease-in forwards;
}

/* Keyframes */
@keyframes topBar_open {
  0% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% {transform: translateY(-8px) rotate(0deg); width: 60px; }
  50% {transform: translateY(25px) rotate(45deg); width: 84px; }
  75% {transform: translateY(12px) rotate(45deg); width: 84px; }
  100% {transform: translateY(17px) rotate(45deg); width: 84px; }
}

@keyframes bottomBar_open {
  0% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% { transform: translateY(-8px) rotate(0deg) ; width: 60px; }
  60% {transform: translateY(0px) rotate(-45deg); width: 84px; }
  75% {transform: translateY(-10px) rotate(-45deg); width: 84px; }
  100% {transform: translateY(-8px) rotate(-45deg); width: 84px; }
}

@keyframes menuLabel_open {
  0% { transform: translateY(0px); opacity: 1; }
  25% {transform: translateY(-18px); }
  45% {transform: translateY(44px); opacity: 1; }
  48% {transform: translateY(50px); opacity: 0; }
  100% {transform: translateY(30px); opacity: 0; }
}

@keyframes topBar_close {
  0% {transform: translateY(17px) rotate(45deg); width: 84px; }
  35% {transform: translateY(-8px) rotate(-4deg); width: 60px; }
  53% {transform: translateY(10px) rotate(3deg); width: 60px; }
  70% {transform: translateY(-6px) rotate(0deg); width: 60px; }
  100% { transform: translateY(-2px) rotate(0deg) ; width: 60px; }
}

@keyframes bottomBar_close {
  0% {transform: translateY(-8px) rotate(-45deg); width: 84px; }
  35% {transform: translateY(-18px) rotate(6deg); width: 60px; }
  53% {transform: translateY(0px) rotate(-3deg); width: 60px; }
  68% { transform: translateY(-7px) rotate(0deg) ; width: 60px; }
  100% { transform: translateY(0px) rotate(0deg) ; width: 60px; }
}

@keyframes menuLabel_close {
  0% {transform: translateY(30px); opacity: 0; }
  5% {transform: translateY(25px); opacity: 1; }
  25% {transform: translateY(-30px); opacity: 1; }
  37% {transform: translateY(-22px); opacity: 1; }
  45% {transform: translateY(-22px); opacity: 1; }
  58% {transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

/* Similarly add topBar_close, bottomBar_close, and menuLabel_close */
