/* Coin spin animation (6 rotations) */
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(2160deg); /* 6 full rotations (360 * 6) */
    }
}

.nav__logo img {
    width: 50px; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for hover or click */
    cursor: pointer; /* Indicate it's clickable */
}

.nav__logo img.spin {
    animation: spin 1s ease; /* 1-second animation for 6 rotations */
}


.nav__logo {
    display: inline-block; /* Ensure proper layout alignment */
}


.aside {
    position: fixed;
    top: 0;
    left: 0;
    /* background: var(--body-color); */
    background: var(--body-color);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.nav__link {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover {
    color: hsl(43, 100%, 68%);
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}